{{!-- <section>
  <h1>Sorry not able to find the page</h1>
  {{#each posts}}  
    <article class="post">
      <h2><a href="/posts/{{_id}}"></a></h2>
      <p>{{body}}</p>
    </article>
  {{/each}}
</section> --}}

<p class="error">{{errorMsg}}</p>




