<main>

<h1>People Finder</h1>
<p>This website is used to display the details of the person based on their name and identifcation number. This website is an assignment of lab 8. </p>
<form action="/search" method="POST"  >
    <label for="name">Name of the Person</label>
    <input name="personName" type="text" id='name' placeholder="enter-name" >
    <input name="button" type="submit"  class="full-width-input">
</form>
</main>