<section>
  <h1>People Finder</h1>
  <main>
      <ul>
           <li>
        
              {{#each searchDetail}}  
               <a href="/details/{{id}}">{{firstName}}{{lastName}}</a>
             {{/each}}
          
          </li>
        
      </ul>

  </main>
</section>